.supra-main {  
  &__hero,
  &__cards,
  &__tabs,
  &__text-content {
    height: 80vh;
  }
  &__tab {
    height: 100%;
  }
}
a {
  text-decoration: none;
}
.supra-about-me__timeline-item {
  width: 40vw;
}
.supra-contact__form,
.supra-contact__data {
  height: 80vh;
}
.container {
  padding: 0;
}