.supra-app {
  position: relative;
}
.supra-header {
  &__button {
    background-color: none; 
    border-radius: 0; 
    &::before {
      background-color: transparent; 
    }   
    &:hover {
      border-bottom: 1px solid #3bbb9a;
    } 
    &--active {
      border-bottom: 1px solid #3bbb9a;
    }
  }
}
.supra-alert {
  position: absolute;
  top: 64px;
  z-index: 1;
}
.supra-main { 
  &__hero,
  &__text-content {
    height: 100vh;
  }
  &__tab {
    height: 100%;
  }
  &__divider {
    max-height: 4px;
    height: 4px;
    width: 10vw;
    background-color: #3bbb9a;
  }
  &__call-to-action {
    height: 40vh;
    background-color: #3bbb9a;
    background-image: url('../src/assets/question_mark.png');
    background-position: center;
    background-size: 20vh;
  }
  &__subheader {
    height: 15vh;
  }
  &__bullet {
    width: 25px;
    height: 25px;
    background-color: #3bbb9a;
  }
  &__card {
    position: relative; 
    &-button {
      position: absolute;
      bottom: 1%;
    }
  } 
}
a {
  text-decoration: none;
}
.supra-about-me__timeline-item {
  width: 40vw;
}
.supra-contact__form,
.supra-contact__data {
  height: 80vh;
}
.container {
  padding: 0;
}
.supra-hero {
  &__container {
    position: relative;
    height: 100vh;    
  }
  &__item .v-image__image.v-image__image--cover {
    box-shadow: inset 0 0 0 1000px rgba(46, 48, 71, 0.8); 
    background-position: 100% !important;   
    background-size: contain;
    background-color: #ddddd6;
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px;
    transform: translate3d(-50%, 50%, 0);
    color: #FFF;
    background-color: #3bbb9a;
    &--up {
      left: 85%;
      bottom: 50%;
      width: 40px;
      height: 40px;
      border-radius: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}
.supra-privacy-policy,
.supra-about-me,
.supra-contact,
.supra-offer {
  margin-bottom: 700px; 
}
.v-carousel__controls {
  height: 15vh;
  .v-item-group {
    position: absolute;
    left: 10%;
  }
}
.supra-footer {
  position: relative;
  .v-btn--active::before {
    background-color: transparent;
  }  
}